html {
  min-width: 400px;
  max-width: 420px;
  min-height: 400px;
  max-height: 420px;
  padding:5px;
}
.p-input{
    width:100% !important;
    margin-bottom:5px;
}
.p-btn{
    width:100% !important;
}
.p-smallhead{
    font-size:30px;
}
